---
layout: layouts/base.njk
title: De Zeilkeuken - Algemene voorwaarden
---

<section class="section">
<h1>Algemene Voorwaarden Vervoer</h1>
<p><strong>Artikel 1 – Definities</strong></p>
<p>In deze Algemene Voorwaarden wordt verstaan onder:</p>
<ol>
<li><em>Vervoerder: </em>natuurlijke of rechtspersoon die een overeenkomst sluit met een klant.</li>
<li><em>Klant</em>: natuurlijke of rechtspersoon die een overeenkomst sluit met de vervoerder betreffende een vaartocht met gezagvoerder inclusief verblijf aan boord van een schip voor hem en/of zijn gasten.</li>
<li><em>Gezagvoerder: </em>schipper/kapitein die het gezag voert over het schip.</li>
<li><em>Gas</em>t: degene die zich op uitnodiging van de klant en met toestemming van de vervoerder aan boord van het schip bevindt.</li>
<li><em>Schip: </em>het schip dat als zodanig genoemd wordt in de overeenkomst of een daarmee vergelijkbaar schip.</li>
<li><em>Overeenkomst</em>: iedere overeenkomst tussen vervoerder en klant waarbij de vervoerder zich tegenover de klant verbindt om de klant en/of zijn gasten tegen betaling op een schip te vervoeren.</li>
<li><em>Vaartocht</em>: het geheel van varen met en verblijf aan boord van het schip gedurende de in de overeenkomst genoemde periode.</li>
<li><em>Elektronisch</em>: per e-mail of website.</li>
</ol>
<p>&nbsp;</p>
<p><strong>Artikel 2 – Toepasselijkheid</strong></p>
<ol>
<li>Deze voorwaarden zijn van toepassing op overeenkomsten die de vervoerder sluit met de klant.</li>
<li>Deze voorwaarden zijn van toepassing tussen vervoerder en klant. De klant wijst zijn gasten op de regels uit deze algemene voorwaarden. De klant vrijwaart de vervoerder van alle aanspraken die de gast jegens de vervoerder maakt, voor zover aansprakelijkheid van de vervoerder uitgesloten zou zijn indien de klant deze aanspraak jegens de vervoerder zou maken.</li>
<li>Deze voorwaarden strekken mede ten behoeve van alle natuurlijke en rechtspersonen waarvan de vervoerder, in de ruimste zin des woord, gebruik maakt of heeft gemaakt bij het sluiten en/of uitvoeren van de overeenkomst.</li>
<li>Deze voorwaarden zijn met uitsluiting en uitdrukkelijke verwerping van eventueel door de klant gehanteerde voorwaarden van toepassing, tenzij partijen schriftelijk uitdrukkelijk anders overeenkomen.</li>
<li>Vertaling…..</li>
</ol>
<p>&nbsp;</p>
<p><strong>Artikel 3 – Het aanbod</strong></p>
<ol>
<li>Een algemeen aanbod van de vervoerder in de vorm van folders, advertenties of websites is vrijblijvend en moet worden opgevat als een uitnodiging tot onderhandeling.</li>
<li>De vervoerder brengt het individueel aanbod schriftelijk dan wel elektronisch uit.</li>
<li>Het schriftelijke dan wel elektronische aanbod wordt voorzien van een dagtekening en is onherroepelijk gedurende de opgegeven termijn of bij ontbreken van een termijn gedurende 14 dagen na dagtekening.</li>
<li>Het aanbod vermeldt in ieder geval:</li>
</ol>
<p>&nbsp;</p>
<ul>
<li>de aard, de inhoud en de omvang van de door de vervoerder te verrichten diensten;</li>
<li>de totale prijs van de vaartocht, bij individuele boekingen per persoon en bij groepsboekingen per groep, en het percentage dat vooruit betaald dient te worden;</li>
<li>de wijze en termijn van betaling;</li>
<li>de datum en het tijdstip van inscheping en van ontscheping.</li>
<li>het maximale aantal gasten per schip;</li>
<li>bij individuele boekingen het voorbehoud van annulering door de vervoerder (plus de termijn waarbinnen) als het vereiste minimale aantal aanmeldingen niet wordt bereikt.</li>
<li>een exemplaar van deze algemene voorwaarden, voor zover deze nog niet eerder zijn verstrekt.</li>
</ul>
<p>&nbsp;</p>
<p><strong>Artikel 4 – Overeenkomst</strong></p>
<ol>
<li>De overeenkomst komt tot stand door aanvaarding van het aanbod. In geval van een elektronische opdrachtverlening stuurt de vervoerder een elektronische bevestiging naar de klant .</li>
<li>De overeenkomsten worden schriftelijk dan wel elektronisch vastgelegd.</li>
<li>Van een schriftelijke overeenkomst dient een afschrift aan de klant te worden verstrekt.</li>
</ol>
<p>&nbsp;</p>
<p><strong>Artikel 5 – Betalingsvoorwaarden</strong></p>
<ol>
<li>Betaling dient 14 dagen na ontvangst van de factuur, doch in ieder geval op de aanvangsdatum van de vaartocht, op het kantoor van de vervoerder of door overmaking naar een door de vervoerder aan te wijzen bankrekening, te geschieden.</li>
<li>Indien de klant niet tijdig betaalt zal hij wettelijk gezien zonder enige ingebrekestelling in verzuim verkeren. Niettemin zendt de vervoerder na het verstrijken van de betalingsdatum één kosteloze betalingsherinnering, waarin hij de klant op zijn verzuim wijst en hem alsnog de gelegenheid geeft binnen 14 dagen na ontvangst van deze betalingsherinnering te betalen, met vermelding van de verschuldigde buitengerechtelijke incassokosten ten gevolge van niet betalen binnen de hiervoor genoemde termijn.</li>
<li>De vervoerder is na verloop van de in lid 1 bedoelde termijn van 14 dagen bevoegd zonder nadere ingebrekestelling tot invordering over te gaan van het aan hem verschuldigde bedrag. Indien de vervoerder hiertoe overgaat, zijn de daaraan verbonden buitengerechtelijke kosten naar redelijkheid voor rekening van de klant. De vervoerder kan maximaal de hieronder vermelde incassokosten in rekening brengen.</li>
</ol>
<p>Hoofdsom Percentage ten hoogste Vergoeding incassokosten:<br>
<em>(wettelijke wijzigen voorbehouden) </em></p>
<p>Over de eerste € 2.500,00: 15% Minimum € 40,00</p>
<p>Over de volgende € 2.500,00: 10%</p>
<p>Over de volgende € 5.000,00: 5%</p>
<p>Over de volgende €190.000,00: 1%</p>
<p>Over het meerdere: 0,5% Maximum € 6.775,00</p>
<p>&nbsp;</p>
<p><strong>Artikel 6 – Annulering</strong></p>
<ol>
<li>Indien de klant de overeenkomst wil annuleren dient hij de vervoerder daarvan zo spoedig mogelijk schriftelijk of elektronisch in kennis te stellen. De datum van ontvangst door de vervoerder wordt als datum van annulering aangemerkt.</li>
<li>In geval van annulering is de klant aan de vervoerder een gefixeerde schadeloosstelling van een percentage van de overeengekomen prijs verschuldigd, te weten:<br>
Schadeloosstelling schip:<br>
15% in geval van annulering tot 6 maanden voor afvaart;</li>
</ol>
<p>20% in geval van annulering tot 5 maanden voor afvaart;</p>
<p>30% in geval van annulering tot 4 maanden voor afvaart;</p>
<p>40% &nbsp;in geval van annulering tot 3 maanden voor afvaart</p>
<p>50% in geval van annulering tot 2 maanden voor afvaart;</p>
<p>75% in geval van annulering tot 1 maanden voor afvaart;</p>
<p>90% &nbsp;in geval van annulering tot 1 dag voor afvaart</p>
<p>100% in geval van annulering op de dag van afvaart.</p>
<ol start="3">
<li>Schadeloosstelling catering en overige diensten:</li>
</ol>
<p>15% in geval van annulering tot 2 maanden voor de afvaart;</p>
<p>25% in geval van annulering tot 1 maand voor de afvaart;</p>
<p>50% in geval van annulering tot 2 weken voor de afvaart;</p>
<p>75% in geval van annulering tot 1 week voor de afvaart;</p>
<p>95% in geval van annulering tot en met 1 dag voor de afvaart;</p>
<p>100% in geval van annulering op de dag van afvaart.</p>
<ol start="4">
<li>De klant kan de vervoerder tot uiterlijk 7 dagen vóór vertrek om een indeplaatsstelling verzoeken. Degene die de klant vervangt dient te voldoen aan alle aan de overeenkomst verbonden voorwaarden. De klant en degene die hem vervangt zijn hoofdelijk aansprakelijk voor betaling van de nog verschuldigde prijs van de vaartocht, de wijzigingskosten ad € 50,00 en eventuele extra kosten.</li>
<li>De klant die de overeenkomst annuleert, is gehouden de annuleringskosten conform het bepaalde in de vorige leden te voldoen, tenzij de werkelijke schade aantoonbaar 15% hoger ligt dan het gefixeerde bedrag, in welk geval de klant dat aantoonbare hogere bedrag verschuldigd is. Dit bedrag kan niet meer bedragen dan de maximale prijs van de overeenkomst. Onder schade wordt verstaan geleden verlies en gederfde winst.</li>
<li>De vervoerder kan de overeenkomst annuleren als hij de overeenkomst niet kan uitvoeren als gevolg van onvermijdbare en buitengewone omstandigheden en hij de klant daarvan direct en vóór het begin van de vaartocht van in kennis stelt.</li>
<li>De vervoerder kan de overeenkomst binnen de in de aanbieding vermelde termijn opzeggen in geval het aantal aanmeldingen kleiner is dan het voorafgaand aan de boeking kenbaar gemaakte vereiste minimum aantal deelnemers.</li>
<li>In de hierboven in lid 6 en 7 genoemde gevallen betaalt de vervoerder alle door de klant voor de vaartocht reeds betaalde bedragen volledig terug zonder schadevergoeding verschuldigd te zijn.</li>
</ol>
<p>&nbsp;</p>
<p><strong>Artikel 7 – Rechten en plichten van de vervoerder </strong></p>
<ol>
<li>De vervoerder staat ervoor in dat het schip en de bemanning voldoen aan de wettelijke voorschriften en minimaal voorzien is van een deugdelijke veiligheidsuitrusting.</li>
<li>De vaarroute wordt door de vervoerder en/of de gezagvoerder in overleg met de klant bepaald, tenzij anders is overeengekomen.</li>
<li>Te allen tijde is de vervoerder en/of de gezagvoerder bevoegd om op grond van (te verwachten) nautische en/of meteorologische gronden de vaartocht te wijzigen. Hieronder wordt mede begrepen het wijzigen van de plaats van afvaart en/of aankomst en het tijdelijk niet uitvaren. Onder nautische en/of meteorologische gronden wordt onder andere verstaan de weersomstandigheden, het getij, blokkade van vaarwegen en de staat van het schip.</li>
<li>In de gevallen in het vorige lid genoemd zal de vervoerder en/of gezagvoerder in overleg met de klant trachten tot een andere oplossing te komen. Eventuele extra kosten, voor zover redelijk, komen voor rekening van de klant. De vervoerder en/of gezagvoerder beslist of de gekozen oplossing in redelijkheid uitvoerbaar is.</li>
<li>Indien het overeengekomen schip en/of de gezagvoerder onverhoopt niet beschikbaar is/zijn, is de vervoerder gerechtigd een gelijkwaardig ander schip c.q. een andere gezagvoerder in te zetten. Mocht dit niet mogelijk zijn en de niet-beschikbaarheid het gevolg zijn van een oorzaak die een zorgvuldig vervoerder niet had kunnen voorkomen, dan is de vervoerder gerechtigd de overeenkomst te ontbinden.</li>
<li>De vervoerder kan tot twintig dagen voor aanvang van de vaartocht de prijs verhogen in verband met wijzigingen in de vervoerkosten (met inbegrip van brandstofkosten) of de verschuldigde belastingen en heffingen. Bij toepassing van deze bepaling geeft de vervoerder aan op welke wijze de verhoging is berekend. De klant heeft in het geval de verhoging meer dan 15% bedraagt het recht de overeenkomst binnen tien dagen na ontvangst van deze schriftelijke mededeling kosteloos op te zeggen.</li>
<li>De vervoerder kan de overeenkomst binnen de in de aanbieding vermelde termijn opzeggen in geval het aantal aanmeldingen kleiner is dan het voorafgaand aan de boeking kenbaar gemaakte vereiste minimum aantal deelnemers.</li>
<li>De vervoerder wijst de klant op de verplichting van artikel 8 lid 9.</li>
<li>De vervoerder maakt samen met de klant afspraken over de betaling van haven-, brug-, sluis- en loodsgelden, plaatselijke belastingen en andersoortige heffingen zoals toeristenbelasting en brandstofkosten.</li>
</ol>
<p>&nbsp;</p>
<p><strong>Artikel 8 – rechten en plichten van de klant</strong></p>
<ol>
<li>De klant is verplicht de vervoerder of diens vertegenwoordiger uiterlijk bij aanvang van de vaartocht een lijst met de namen van de gasten inclusief telefoonnummers van contactpersonen te overhandigen.</li>
<li>Aan het einde van de overeengekomen vaarperiode dient de klant ervoor zorg te dragen dat het schip in dezelfde staat verkeert als bij aanvang van de overeengekomen vaarperiode voor zover dit binnen zijn invloedsfeer ligt.</li>
<li>Indien de klant niet heeft gehandeld conform het bepaalde in het vorige lid dan is de vervoerder gerechtigd op kosten van de klant het schip in de staat te herstellen als waarin het zich bij aanvang van de overeengekomen vaarperiode bevond. Dit laatste geldt niet wanneer bedoelde kosten door de verzekering zijn afgedekt.</li>
<li>De klant en zijn gasten dienen te allen tijde de aanwijzingen van de vervoerder en/of gezagvoerder en/of andere bemanningsleden op te volgen. Dit geldt met name ten aanzien van de voorschriften en aanwijzingen welke in het belang zijn van de orde en de veiligheid.</li>
<li>De klant verschaft om niet, de gezagvoerder en eventueel aanwezige bemanning, de mogelijkheid gebruik te maken van de aan boord aanwezige catering. Wordt niet aan boord gegeten, dan wordt in de huurprijs een bedrag voor catering van de gezagvoerder en bemanning opgenomen.</li>
<li>De bagage van de klant en zijn gasten dient zodanig van omvang te zijn en zodanig geplaatst te worden dat hierdoor geen hinder wordt veroorzaakt. Dit ter beoordeling van de gezagvoerder. Toegestane bagage omvat de met de hand draagbare normaal benodigde artikelen voor persoonlijk gebruik van de klant en/of gast, niet zijnde eten en/of drinken, die een klant en/of gast als gemakkelijk in één keer mee kan voeren; verpakt in koffers, tassen, plunjezakken en/of rugzakken.</li>
<li>Het door de klant en/of zijn gasten aan boord brengen of hebben van gevaarlijke stoffen, wapens, drugs of smokkelwaar is verboden.</li>
<li>Zonder uitdrukkelijke voorafgaande toestemming is het verboden huisdieren aan boord te brengen of te hebben.</li>
<li>De klant wijst zijn gasten op de bepalingen uit deze voorwaarden die voor hen van toepassing zijn.</li>
</ol>
<p>&nbsp;</p>
<p><strong>Artikel 9 – Ontbinding en opschorting</strong></p>
<ol>
<li>Indien één der partijen haar verplichting uit de overeenkomst niet nakomt, dan is de wederpartij bevoegd de daartegenover staande verplichting op te schorten of de overeenkomst te ontbinden, tenzij de tekortkoming gezien haar bijzondere aard of geringe betekenis de opschorting of ontbinding niet rechtvaardigt.</li>
<li>Ontbinding van de overeenkomst is in ieder geval mogelijk als;</li>
</ol>
<ul>
<li>de wederpartij failleert, aan deze surseance van betaling wordt verleend, er sprake is van schuldsanering, dan wel onder curatele wordt gesteld;</li>
<li>de wederpartij niet binnen 14 dagen na schriftelijk in gebreke te zijn gesteld zijn verplichtingen uit de overeenkomst nakomt.</li>
<li>door de vervoerder als er sprake is van een situatie zoals genoemd in artikel 8 lid 4, 6,7 of 8.</li>
<li>het betreffende schip door onvoorziene omstandigheden niet beschikbaar is en het ondanks het leveren van voldoende inspanning door de vervoerder niet mogelijk is tijdig een ander vergelijkbaar schip aan te bieden.</li>
<li>door de vervoerder als binnen de in de aanbieding vermelde termijn het aantal aanmeldingen kleiner is dan het voorafgaand aan de boeking kenbaar gemaakte vereiste minimum aantal deelnemers.</li>
</ul>
<ol start="3">
<li>Opzegging of ontbinding dient met vermelding van de gronden waarop deze is gebaseerd, schriftelijk te geschieden. De overeenkomst wordt geacht buitenrechtelijk te zijn ontbonden nadat de opzeggingsbrief is ontvangen, maar in ieder geval 5 dagen na verzending van de opzeggingsbrief.</li>
<li>Indien de oorzaak van de opzegging of ontbinding aan de klant en of gasten kan worden toegerekend, komt de schade die hieruit voortvloeit voor rekening van de klant.</li>
<li>De klant kan in het geval van ontbinding door de vervoerder aanspraak maken op vergoeding van eventuele door hem geleden schade, tenzij de tekortkoming de vervoerder niet kan worden toegerekend. Deze schadevergoeding is beperkt tot de overeengekomen prijs voor de vaartocht.</li>
</ol>
<p>&nbsp;</p>
<p><strong>Artikel 10 – Aansprakelijkheid</strong></p>
<ol>
<li>De aansprakelijkheid van de vervoerder voor schade is beperkt tot driemaal het bedrag van de vaartocht tenzij sprake is van persoonlijk letsel of de schade is veroorzaakt door opzettelijke dan wel nalatig handelen van de vervoerder.</li>
<li>Indien er op een uitgevoerde dienst een Verdrag of Verordening van toepassing is, kan de vervoerder zich op de daarin opgenomen uitsluiting of beperking van zijn aansprakelijkheid beroepen.</li>
<li>De verjaringstermijn voor het indienen van een vordering tot schadevergoeding is één jaar.</li>
<li>De vervoerder is niet aansprakelijk indien de klant/gast zijn schade heeft kunnen verhalen uit hoofde van een door hem afgesloten verzekering.</li>
<li>Indien de vervoerder bewijst dat schuld of nalatigheid van de klant en/of gast de schade heeft veroorzaakt of daartoe heeft bijgedragen, wordt de aansprakelijkheid van de vervoerder daardoor geheel of gedeeltelijk opgeheven.</li>
<li>De vervoerder is niet aansprakelijk voor verlies van of schade aan bagage of bezittingen (waaronder contant geld, sieraden, elektronische apparatuur of andere kostbaarheden) als dit het gevolg is van onvoldoende zorg van de klant, hieronder wordt mede verstaan het onbeheerd achterlaten van kostbare bezittingen op of in het schip.</li>
<li>De klant is aansprakelijk voor schade, veroorzaakt door hem en/of door gasten/bezoekers die op zijn uitnodiging aan boord van het schip verblijven, tenzij de schade is toe te rekenen aan het handelen of nalaten van de vervoerder en/of de gezagvoerder.</li>
<li>De vervoerder is niet aansprakelijk voor schade die is veroorzaakt door vertraging, afwijking van de overeengekomen aanvangs- en/of eindtijd of de terbeschikkingstelling van een vervangend schip omdat het overeengekomen schip wegens onvoorziene omstandigheden niet beschikbaar is.</li>
</ol>
<p>&nbsp;</p>
<p><strong>Artikel 11 – Overmacht</strong></p>
<ol>
<li>Onder overmacht wordt verstaan iedere niet-voorzienbare omstandigheid tengevolge waarvan de uitvoering van de overeenkomst wordt vertraagd of verhinderd, voor zover deze omstandigheid door de vervoerder niet vermeden kan worden en zij niet op grond van de wet, de overeenkomst of maatschappelijke opvattingen voor diens rekening moet komen.</li>
<li>Onder overmacht wordt mede verstaan een averij aan het schip waardoor het schip niet meer inzetbaar is voor het overeengekomen doel en de averij niet te wijten valt aan omstandigheden die de vervoerder had kunnen of moeten voorzien of voorkomen.</li>
<li>Indien de gezagvoerder van mening is dat het, gelet op de weersomstandigheden al dan niet in combinatie met de aard van het schip en de groep opvarenden, niet verantwoord is een vaart uit te voeren heeft dit ook te gelden als overmacht.</li>
<li>Na ontbinding van de overeenkomst op grond van <em>overmacht heeft</em> de vervoerder recht op vergoeding van de door hem gemaakte kosten voor zover deze zijn gemaakt voordat er sprake was van de overmacht situatie die tot ontbinding van de overeenkomst heeft geleid en voor zover de klant daarbij gebaat is.</li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Artikel 12 – Klachten</strong></p>
<ol>
<li>Klachten over de uitvoering van de overeenkomst dienen ter plaatse zo spoedig mogelijk gemeld te worden, zodat naar een oplossing kan worden gezocht. Mocht dit niet tot een bevredigend resultaat leiden of wordt de klacht pas na de vaartocht ontdekt, dan dient de klacht schriftelijk of per e-mail en behoorlijk omschreven en toegelicht, binnen bekwame tijd na constatering ter kennis te worden gebracht van de vervoerder.</li>
<li>Klachten over facturen dienen, bij voorkeur schriftelijk en behoorlijk omschreven en toegelicht, binnen bekwame tijd na ontvangt van de desbetreffende factuur, bij de vervoerder te worden ingediend.</li>
<li>Niet tijdig indienen van de klacht kan tot gevolg hebben dat de klant zijn rechten ter zake verliest, tenzij de overschrijding van de termijn in redelijkheid niet aan de consument kan worden tegengeworpen.</li>
<li>Als duidelijk is geworden dat de klacht niet in onderling overleg kan worden opgelost, is er sprake van een geschil.</li>
</ol>
<p>&nbsp;</p>
<p><strong>Artikel 13 – Geschillen en forumkeuze</strong></p>
<p>Op alle geschillen met betrekking tot deze overeenkomst is Nederlands recht van toepassing, tenzij op grond van dwingende regels ander nationaal recht van toepassing is.</p>
		</div>


</section>
