{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": "*.njk",
      "options": {
        "parser": "html"
      }
    }
  ]
}
